* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #08111f;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 8%;
    background: #08111f;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    color: #27e1c1;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: .3s;
}

nav ul li a:hover {
    color: #27e1c1;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 8%;
    min-height: 100vh;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 600px;
}

.hero h1 {
    font-size: 60px;
    color: #27e1c1;
}

.hero h2 {
    font-size: 32px;
    margin: 15px 0;
}

.hero p {
    font-size: 18px;
    line-height: 30px;
    color: #cfcfcf;
    margin-bottom: 30px;
}

.btn {
    background: #27e1c1;
    color: #08111f;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 10px;
}

.btn2 {
    border: 2px solid #27e1c1;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}

.hero-image img {
    width: 350px;
    border-radius: 50%;
    border: 5px solid #27e1c1;
    box-shadow: 0 0 40px #27e1c1;
}

.about,
.skills,
#projects,
#contact {
    padding: 100px 8%;
}

.about h2,
.skills h2,
#projects h2,
#contact h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #27e1c1;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.card {
    background: #12213a;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    transition: .4s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #27e1c1;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.project-card {
    background: #12213a;
    padding: 30px;
    border-radius: 15px;
    transition: .4s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #27e1c1;
}

.social {
    margin-top: 30px;
}

.social a {
    color: white;
    font-size: 30px;
    margin-right: 20px;
    transition: .3s;
}

.social a:hover {
    color: #27e1c1;
}

@media(max-width:768px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 250px;
        margin-top: 40px;
    }

    nav ul {
        display: none;
    }

    .hero h1 {
        font-size: 45px;
    }

}